@import "responsive-900px-max";
@import "responsive-400px-max";
@import "responsive-767px-max";
@import "responsive-768px-min";


.uiIconExt-acme_time_tracker {
  background-image: url("/portlet-pack/images/tracker-icon.png");
  background-repeat: no-repeat;
  background-position: 0;
}